html {
    height: 100%;
    width: 100%;
  }
  
  /*Es el contenido*/
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    background-color: lightgray;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #title {
    vertical-align: top;
    padding-left: 2em;
  }
  
  #brand {
    font-size: small;
    color: gray;
  }
  
  #price {
    font-size: large;
    font-weight: bold;
    color: purple;
  }
  
  #specs {
    font-size: small;
    border-collapse: collapse;
  
  }
  
  .body {
    background-color: white;
    border: 0.2em solid gray;
    border-radius: 2em;
    padding: 1em;
    width: 40em;
  }
  
  .spec {
    font-weight: bold;
    color: mediumpurple;
    text-align: right;
    margin-right: 0.5em;
  }
  
  .fila {
    border-bottom: 0.2em solid lightgray;
    height: 2em;
  }
  
  .celda {
    width: 20em;
  }